@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #e1ecf2;
}
.wrapper{
  margin: 10px;
}
.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 99999;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  /* background: #2e4ead; */
  background: #69191B !important;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  /* color: #2e4ead; */
  color: #69191B !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #69191B;
  border-radius: 50%;
  color: #69191B;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #69191B;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 60px;
  left: 10px;
  background: #69191B;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}



.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #69191B;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 100px);
  margin-top: 10px;
  margin-left: 100px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 12px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 1px);
  margin-left: 1px;
}



#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #22A39f;
  font-family:'Baloo 2', Cambria;
  font-weight: bolder;
  width: 100%;
}
.articles{
  width: 100%;
  color:rgb(128, 128, 128);
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  font-family:'Baloo 2', Cambria;
  text-align: center;
  
  /*background-color: rgb(82, 72, 72);*/
}
.articles h3{
  /*color:#22A39f;*/
  color:rgb(226, 146, 18);
  font-weight: bold;
  font-family:'Baloo 2', Cambria;
  margin-bottom: 18px;
  text-align: center;
  opacity: 1;
}
/* #article1{
  margin-top: 50px;
  margin-bottom: 50px;

} */
.public{
  border-bottom:3px solid rgb(226, 146, 18);
}

#section2{
  width: 95%;
  /*background-image: url(./images\ \(3\).jpeg);*/
  margin:auto;
  background-position: 10%;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
  margin-bottom: 60px;
  /*color: #FFFF;*/
}

#section2 button{
  width: 130px;
  cursor:pointer; 
  font-size: 16px; 
  font-weight:bold;
  height:30px; 
  color: #FFFF; 
  border-radius:3px;
  margin: 20px 20%;
  border: none;  
  background-color: gray;
}
#section2 button a{
 text-decoration: none;
 color:#FFFF;
 cursor: pointer;
}
#section3{
  width:95%;
  text-align: center;
  background-color:#FBA61B;
  color:rgb(102, 119, 136);
  height: 600px;
  margin-top: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:'Baloo 2', Cambria;
  
}


#section3 span{
  font-size: 18px;
  font-weight:bold;
  margin-top:10px; 
  color: rgb(97, 66, 66);
}
#sections{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /*margin: 80px auto auto auto;*/
  width:80%;
}


#section5 a{
  text-decoration: none;
  color:#22A39f;
}
#section5 a:hover{
  text-decoration: none;
  color:orangered;
}



.grid{
  margin-top: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
#button{
  width: 200px;
  cursor:pointer; 
  font-size: 16px; 
  font-weight:bold;
  height:30px; 
  color: #FFFF; 
  border-radius:3px;
  margin: 20px 20%;
  border: none;  
  background-color: #22A39f;
}
#section5 button a{
  color:#FFFF;
  text-decoration: none;
}
#section7{
  height: 1000px;
  background-color: #434242;
  color:#FBA61B;
  border-bottom:16px solid #FBA61B;
  font-family:'Baloo 2', Cambria;
  margin-top: 50px;
  
}
#social{
  margin: auto;
  width:70%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}


@media only screen and (min-width: 961px){
  
  #section2{
      width:100%;
      margin:auto;
      padding:20px;
  }

  #section2 button{
      width: 200px;
      cursor:pointer; 
      font-size: 20px; 
      font-weight:bold;
      height:40px; 
      color: #FFFF; 
      border-radius:13px;
      border: none;  
      background-color: gray;
      font-family:'Baloo 2', Cambria;
      padding: 5px 5px;
  }

  #section1 {
      margin-bottom: 40px;
  }


  .articles{
      width:90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;
      line-height: 30px;
      font-size: 20px;
      font-family:'Sriracha', Cambria;
      margin-bottom: 100px;
      opacity: 0.9;
  }

  .Publication{
      background-color: #FFFF;
      margin-bottom:40px;
      padding: 50px 50px;
      box-shadow:0 0 7px 2px rgb(65, 60, 60);
      width: 45%;
      height: 800px;
      border-radius:5px;
              
  }
  .articles h3{
      /*color:rgb(102, 119, 136);*/
      color:#22A39f;
      font-weight: bold;
      font-family:'Baloo 2', Cambria;
      margin-bottom: 20px;
  }

  #section3{
      width:97%;
      text-align: center;
      background-color:#FBA61B;
      color:rgb(102, 119, 136);
      height: 600px;
      margin-top: 30px;
      margin: auto;
      font-family:'Baloo 2', Cambria;
      border-radius: 10px;
      display:flex;
      justify-content: center;
      align-items: center;
      
  }
 



  #section3 span{
      font-size: 20px;
      font-weight:bold;
      text-shadow: #FFFF;
  }
  #sections{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 80px auto auto auto;
      width:70%;
  }
  
  

  #section5 button{
      width: 300px;
      height:50px; 
      margin: auto;
      font-size:25px;
      
  }

  #section5 {
      background-image: url(./images\ \(24\).jpeg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
  }
  #images{
      margin:auto;
      width:80%;
      text-align: left;
      margin-top:30px;
      font-size: 25px;
  }

 


}

#vendas-cb .vendas-cb-txt{
  float: right;
  }
  #vendas-cb .vendas-cb-txt h4{
  font-size: 36px;
  color: #090236;
  line-height: 1.3em;
  font-weight: 700;
  }
  #vendas-cb .vendas-cb-txt p{
  font-size: 22px;
  line-height: 1.8em;
  color: #090236;
  }
  #vendas-cb .vendas-cb-img{
  float: left;
  margin-top: -30%;
  padding: 10% 2% 2% 2%;
  }

  #vendas-cb-button button{
      text-transform: unset !important;
      height: fit-content !important;
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-top: 5%;
      margin-bottom: 5%;
      background: linear-gradient(#FDB913, #FE9005);
      border:none;
      border-radius: 0;
      padding-top: 11px;
      padding-bottom: 11px;
      box-shadow: 0px 4px #9B3B21;
      position: relative;
      font-family: Montserrat;
      font-size: 25px !important;
      font-weight: 700;
      z-index: 99;
      transition: all 0.3s;
      font-size: 18px !important;
      color: #190426;
      width: 40%;
      white-space: pre-wrap;
      }
      #vendas-cb-button button:hover{
      transform: translateY(4px);
      border-bottom-width: 2px;
      box-shadow: none;
      }






